@import './base.css';
@import 'tailwindcss';

@theme {
  --color-op-primary: #175673;
  --color-op-secondary: #4C2878;
  --color-op-tertiary: #1B5E3B;
  --color-op-error: #B91C1C;
  --color-op-success: #15803D;
  --color-op-warning: #B45309;
  --color-op-disabled: #6B7280;
}
